<!DOCTYPE html>
<html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title></title>
</head>
<body class="flex flex-col items-center relative w-screen h-screen">
  <header class="bg-purple-500 w-full flex justify-center items-center">
    <img src="id.svg" class="h-16 lg:h-8 fill-current" />
    <h2 class="text-5xl lg:text-2xl text-gray-900 p-12 lg:p-4 text-center font-bold">PSN ID Check</h2>
  </header>
  <main class="flex flex-col h-screen justify-center items-center">
    <h1 class="text-6xl lg:text-4xl font-bold text-indigo-900 p-12 lg:p-4">Is this PSN ID Available?</h1>
    <input type="text" name="name" class="shadow appearance-none border rounded w-full lg:py-4 lg:px-4 text-gray-700 text-5xl py-8 px-10 lg:text-2xl leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter PSN ID">
    <button id="check" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white text-5xl px-24 py-8 my-16 lg:text-2xl font-bold lg:py-4 lg:px-10 rounded-lg lg:my-8">Check</button>
    <div id=response_box class="flex items-center py-12 px-24 mt-6 lg:mt-6 justify-center border-solid bg-gray-200 lg:py-4 lg:px-10" style="display: none;">
      <h2 id="response" style="text-transform: capitalize;" class="text-5xl lg:text-2xl font-semibold"></h2>
    </div>
  </main>
  <footer class="bg-purple-500 w-full absolute bottom-0 text-3xl px-10 py-8 lg:text-sm text-purple-100 lg:px-4 lg:py-2 text-right">
    Made by <a href="https://github.com/vinaysolanki" class="underline">Vinay Solanki</a>
  </footer>
</body>
<script type="text/javascript">
  $(document).ready(function () {
    $("button#check").click(function () {
      $("#response_box").hide()
      let name = $('input[name="name"]').val();
      let url = "/check/" + name;
      $.get({
        url: url,
      }).done(function (data) {
        $("#response_box").show();
        let resp = JSON.parse(data)
        if(resp.status == 201) {
          $("h2#response").html("ID is Available").css("color", "#48bb78");
        } else {
          let body = JSON.parse(resp.body)
          let message = body[0]["validationErrors"][0]["message"]
          if(message) {
            let stripped_msg = message.substring(0, message.indexOf("existingReservationId"))
            let account_exists = "Account with this online id already exists"
            if(stripped_msg.indexOf(account_exists) == 0) {
              $("h2#response").html("ID is Unavailable").css("color", "#e53e3e");
            } else {
              $("h2#response").html(message).css("color", "#e53e3e");
            }
          }
        }
      })
    })
  })
</script>
</html>