<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<input type="text" name="name">
<button id="check">Check</button>
<h2 id="response"></h2>

<script type="text/javascript">
  const API_URL = "https://accounts.api.playstation.com/api/v1/accounts/onlineIds"

  $(document).ready(function () {
    $("button#check").click(function () {
      let name = $("input[name=name]").val();
      let data = JSON.stringify({ "onlineId": name, "reserveIfAvailable":false })
      $.ajax({
        type: "POST",
        headers: {  'Access-Control-Allow-Origin': 'https://psn' },
        contentType: "application/json",
        dataType: "json",
        url: API_URL,
        data: data,
      }).done(function (data) {
        alert("Data Loaded: " + data);
        $("h2#response").val("Hahaha");
      })
    })
  })
</script>