<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<input type="text" name="name">
<button id="check">Check</button>
<h2 id="response"></h2>

<script type="text/javascript">
  $(document).ready(function () {
    $("button#check").click(function () {
      let name = $('input[name="name"]').val();
      let url = "/check/" + name;
      $.get({
        url: url,
      }).done(function (data) {
        let resp = JSON.parse(data)
        if(resp.status == 201) {
          $("h2#response").html("ID is Available");
        } else {
          let body = JSON.parse(resp.body)
          let message = body[0]["validationErrors"][0]["message"]
          if(message) {
            let stripped_msg = message.substring(0, message.indexOf("existingReservationId"))
            $("h2#response").html(stripped_msg);
          }
        }
      })
    })
  })
</script>