<!DOCTYPE html>
<html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title></title>
</head>
<body class="flex flex-col items-center">
  <div class="flex flex-col items-center">
    <img src="https://cdn.shopify.com/s/files/1/1340/5227/files/Swag-Factory-Logo.png?v=1525424228"
      class="w-2/3">
  </div>
  <h1 class="text-5xl text-indigo-700 font-bold text-center">FREE Mask Giveaway. Claim yours today!</h1>
  <div class="p-10 flex flex-col items-center">
    <img src="mask.jpg"
      class="w-2/3">
  </div>
  <a href="/payment" id="check" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white text-2xl px-10 py-4 my-8 lg:text-2xl font-bold lg:py-4 lg:px-10 rounded-lg lg:my-8">FREE Mask! Just Pay Shipping ($9.95)</a>
</body>
</html>