<!DOCTYPE html>
<html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title></title>
</head>
<body class="flex flex-col items-center p-8">
  <h3 class="text-3xl text-gray-800 font-bold">Thank you! We have received your Order!</h3>
  <div class="p-10 flex flex-col items-center">
    <img src="https://images-na.ssl-images-amazon.com/images/I/61Ii0cARLSL._AC_SY450_.jpg"
      class="w-2/3">
  </div>
  <p class="px-20">We will be shipping your order in next 24-48 hours. If your shipping address is different than the billing address then please let us know by emailing us at <span class="font-bold">helpdesk@swagfactory.co</span> and we can update your order.</p>
  <p class="font-semibold p-6">Please note that due to very high demand for this product. Shipping can take up to 15-25 business days. We urge you to be patient.</p>
</body>
</html>